<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" href="./css/simplecss.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="js/ajax.js"></script>
</head>
<body>
    <div class="container">
        <div id="login">
            <div class="title">欢迎注册Nodeing会员</div>
            <form action="">
                <div class="content">
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label for="">用户名:</label>
                        </div>
                        <div class="col-md-8"><input type="text" id="username"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label for="">密码:</label>
                        </div>
                        <div class="col-md-8"><input type="password" id="password"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label for="">确认密码:</label>
                        </div>
                        <div class="col-md-8"><input type="password" id="repassword"></div>
                    </div>
                    <div class="row form-group btn-wrap">
                        <button id="reg" type="button" class="btn btn-danger">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        var oUser = document.getElementById('username');
        var oPass = document.getElementById('password');
        var oRePass = document.getElementById('repassword');
        var oRegBtn = document.getElementById('reg');
        oRegBtn.onclick = function () {
            if (oPass.value != oRePass.value) {
                alert('两次密码不⼀致，请重新输⼊');
                return;
            }
            //调用ajax函数
            ajax({
                method:"POST",
                url:"register",
                data:"username="+oUser.value+"&password="+oPass.value+"&repassword="+oRePass.value,
                success:function (result) {
                    console.log(result);//result是返回的结果
                    if (result.status==0){
                        //注册成功就跳转页面
                        window.location.href = '/login.html';
                    }else {
                        alert(result.message);
                    }
                }
            })
        }
    </script>
</body>
</html>